<h2 mat-dialog-title>Filter by {{ data.columnName }}</h2>

<mat-dialog-content>
  <div *ngFor="let option of filterOptions">
    <mat-checkbox [checked]="option.selected" (change)="option.selected = $event.checked">
      {{ option.value }}
    </mat-checkbox>
  </div>

  </mat-dialog-content>

<mat-dialog-actions align="end">

  <button mat-stroked-button  [mat-dialog-close]="undefined">Cancel</button>
  <button mat-stroked-button [mat-dialog-close]="getSelectedFilters()" cdkFocusInitial>Apply Filter</button>
</mat-dialog-actions>
