<div class="function-list" style="display: flex; justify-content: space-between; align-items: center;">
    <div class="left-group" style="display: flex; align-items: center; gap: 15px;">
        <div>
            <h2>Danh sách vật tư</h2>
        </div>
        <div style="margin: 0 10px;">
            <h2>|</h2>
        </div>
        <div class="listupdate-with-badge">
            <button mat-raised-button routerLink="/material/update-list"><mat-icon> list_alt</mat-icon>Danh sách cập
                nhật</button>
            <div class="cart-badge">{{checkedCount()}}</div>
        </div>
        <div>
            <button mat-raised-button (click)="focusScanInput()"><mat-icon>center_focus_weak</mat-icon>Scan</button>
        </div>
        <div *ngIf="isScanMode">
            <button mat-raised-button *ngIf="scanResult" (click)="refreshScan()">
                <mat-icon>refresh</mat-icon>Refresh
            </button>
        </div>
    </div>

    <div class="right-group" style="display: flex; align-items: center; gap: 15px; margin-right: 15px;">
        <div>
            <button mat-raised-button mat-button [matMenuTriggerFor]="menu">View mode
                <mat-icon>keyboard_arrow_down</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Danh sách chi tiết</button>

                <button mat-menu-item [matMenuTriggerFor]="subMenu" #menuTrigger="matMenuTrigger">Danh sách tổng
                    hợp</button>

            </mat-menu>
            <mat-menu #subMenu="matMenu">
                <form [formGroup]="form">
                    <div (click)="$event.stopPropagation()">
                        <mat-selection-list formControlName="sumary_modeControl" name="sumary_modes" [multiple]="false"
                            color="primary">
                            <mat-list-option *ngFor="let mode of sumary_modes" [value]="mode.value">
                                {{ mode.name }}
                            </mat-list-option>
                        </mat-selection-list>
                    </div>
                    <div style="display: flex; justify-content: flex-end; margin: 10px 0;">
                        <button mat-button style="background-color: rgb(65, 235, 53);" (click)="onLoad()">Load</button>
                    </div>
                </form>

            </mat-menu>
        </div>
        <div>
            <button mat-raised-button [matMenuTriggerFor]="menucolumnselect">Column selection
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menucolumnselect="matMenu">

                <section class="example-section" (click)="$event.stopPropagation()">
                    <span class="example-list-section">
                        <mat-checkbox color="primary"
                            style="margin: 0; padding-left: 20px; padding-right: 30px;list-style: none;"
                            class="example-margin" [checked]="columnSelectionGroup().completed"
                            [indeterminate]="partiallyComplete()" (change)="update($event.checked)">
                            {{columnSelectionGroup().name}}
                        </mat-checkbox>
                    </span>
                    <hr>
                    <span class="example-list-section">
                        <ul style="margin: 0; padding-left: 20px;padding-right: 30px;list-style: none;">
                            @for (subtask of columnSelectionGroup().subtasks; track subtask; let i = $index) {
                            <li>
                                <mat-checkbox color="primary" [checked]="subtask.completed"
                                    (change)="update($event.checked, i)">
                                    {{subtask.name}}
                                </mat-checkbox>
                            </li>
                            }
                        </ul>
                    </span>
                </section>
            </mat-menu>


        </div>
        <div>
            <button mat-raised-button (click)="export()"><mat-icon> file_download</mat-icon>Xuất Excel</button>
        </div>
    </div>
</div>

<div class="full-scroll-table-container">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 bordered-table">

        <ng-container *ngFor="let colDef of displayedColumns" [matColumnDef]="colDef">
            <th mat-header-cell *matHeaderCellDef style=" background-color:#548CE8">
                <ng-container *ngIf="colDef === 'select'">
                    <div style="text-align: center; color: white;">
                        <div>
                            {{ getColumnDisplayName(colDef) }}
                        </div>
                        <!-- <mat-checkbox color="primary" class="example-margin"
                            (change)="$event ? toggleAllRows($event.checked) : null" [checked]="isAllSelected()"
                            [indeterminate]="someItemsSelected()" aria-label="Select all rows">
                        </mat-checkbox> -->
                    </div>

                </ng-container>

                <ng-container *ngIf="colDef !== 'select'">
                    <div style="display: flex;color: white ;justify-content: space-between;">
                        <div>
                            {{ getColumnDisplayName(colDef) }}
                        </div>
                        <div>
                            <mat-icon [matMenuTriggerFor]="filterMenu" style="color: white;">filter_list</mat-icon>
                        </div>
                    </div>

                    <div class="search-container">
                        <div class="custom-search-wrapper">
                            <!-- Nếu đang ở chế độ scan -->
                            <ng-container *ngIf="isScanMode; else normalInput">
                                <input type="text" #scanInput class="custom-search-input"
                                    [placeholder]="'Search (' + (filterModes[colDef] || 'contains') + ')'"
                                    style="width: 100%;" (keyup)="handleScanInput(scanInput.value, $event)" />

                            </ng-container>

                            <!-- Nếu không ở chế độ scan -->
                            <ng-template #normalInput>
                                <input type="text" class="custom-search-input"
                                    [placeholder]="'Search (' + (filterModes[colDef] || 'contains') + ')'"
                                    style="width: 100%;" (keyup)="applyFilter(colDef, $event)" />
                            </ng-template>
                        </div>

                    </div>
                    <mat-menu #filterMenu="matMenu">
                        <button mat-menu-item (click)="setFilterMode( colDef , 'contains')">Contains</button>
                        <button mat-menu-item (click)="setFilterMode( colDef , 'not_contains')">Does not
                            contain</button>
                        <button mat-menu-item (click)="setFilterMode( colDef , 'equals')">Equals</button>
                        <button mat-menu-item (click)="setFilterMode( colDef , 'not_equals')">Does not
                            equal</button>
                    </mat-menu>
                </ng-container>

            </th>
            <td style="align-items: center;" mat-cell *matCellDef="let row">
                <ng-container *ngIf="colDef === 'select'">
                    <div style="text-align: center;">
                        <mat-checkbox color="primary" (click)="$event.stopPropagation()" (change)="handleRowToggle(row)"
                            [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </div>

                </ng-container>
                <ng-container *ngIf="colDef !== 'select'">
                    {{ row[colDef] }}
                </ng-container>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>

<div>
    <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
        [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
        [pageIndex]="pageIndex" aria-label="Select page">
    </mat-paginator>
</div>