<div class="function-list" style="display: flex; justify-content: space-between; align-items: center;">
    <div class="left-group" style="display: flex; align-items: center; gap: 15px;">
        <div>
            <h2>Danh sách cập nhật vật tư</h2>
        </div>
        <div style="margin: 0 10px;">
            <h2>|</h2>
        </div>
        <div routerLink="/material/update-list">
            <button style="padding-right: 4px;" (click)="goBackToList()"
                mat-raised-button><mat-icon>arrow_back</mat-icon></button>

        </div>
        <div>
            <button mat-raised-button (click)="focusScanInput()"><mat-icon>center_focus_weak</mat-icon>Scan</button>
        </div>
        <div *ngIf="isScanMode">
            <button mat-raised-button *ngIf="scanResult" (click)="refreshScan()">
                <mat-icon>refresh</mat-icon>Refresh
            </button>
        </div>
    </div>

    <div class="right-group" style="display: flex; align-items: center; gap: 15px; margin-right: 15px;">
        <div *ngIf="checkedCount() > 0">
            <button (click)="openEditSelectedDialog()" mat-raised-button>Cập nhật<mat-icon>update</mat-icon></button>
        </div>
        <div>
            <button mat-raised-button [matMenuTriggerFor]="menucolumnselect">Column selection
                <mat-icon>keyboard_arrow_down</mat-icon></button>
            <mat-menu #menucolumnselect="matMenu" >

                <section class="example-section" (click)="$event.stopPropagation()">
                    <span class="example-list-section">
                        <mat-checkbox style="margin: 0; padding-left: 20px; padding-right: 30px;list-style: none;"
                            class="example-margin" [checked]="columnSelectionGroup().completed"
                            [indeterminate]="partiallyComplete()" (change)="update($event.checked)"  color="primary">
                            {{columnSelectionGroup().name}}
                        </mat-checkbox>
                    </span>
                    <hr>
                    <span class="example-list-section">
                        <ul style="margin: 0; padding-left: 20px;padding-right: 30px;list-style: none;">
                            @for (subtask of columnSelectionGroup().subtasks; track subtask; let i = $index) {
                            <li>
                                <mat-checkbox [checked]="subtask.completed" (change)="update($event.checked, i)"  color="primary">
                                    {{subtask.name}}
                                </mat-checkbox>
                            </li>
                            }
                        </ul>
                    </span>
                </section>
            </mat-menu>
        </div>
        <div>
            <button mat-raised-button><mat-icon> file_download</mat-icon>Xuất Excel</button>
        </div>
    </div>
</div>


<div class="full-scroll-table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 bordered-table">

        <ng-container *ngFor="let colDef of displayedColumns" [matColumnDef]="colDef">
            <th mat-header-cell *matHeaderCellDef style=" background-color:#548CE8">
                <ng-container *ngIf="colDef === 'select_update'">
                    <div style="text-align: center; color: white;">
                        <div>
                            {{ getColumnDisplayName(colDef) }}
                        </div>
                        <mat-checkbox color="primary" class="example-margin"
                            (change)="$event ? toggleAllRows($event.checked) : null" [checked]="isAllSelected()"
                            [indeterminate]="someItemsSelected()" aria-label="Select all rows">
                        </mat-checkbox>
                    </div>
                </ng-container>

                <ng-container *ngIf="colDef !== 'select_update'">
                    <div style="display: flex;color: white ;justify-content: space-between;">
                        <div>
                            {{ getColumnDisplayName(colDef) }}
                        </div>
                        <div>
                            <mat-icon [matMenuTriggerFor]="filterMenu" style="color: white;">filter_list</mat-icon>
                        </div>
                    </div>

                    <div class="search-container">
                        <div class="custom-search-wrapper">
                            <!-- Nếu đang ở chế độ scan -->
                            <ng-container *ngIf="isScanMode; else normalInput">
                                <input type="text" #scanInput class="custom-search-input"
                                    [placeholder]="'Search (' + (filterModes[colDef] || 'contains') + ')'"
                                    style="width: 100%;" (keyup)="handleScanInput(scanInput.value, $event)" />

                            </ng-container>

                            <!-- Nếu không ở chế độ scan -->
                            <ng-template #normalInput>
                                <input type="text" class="custom-search-input"
                                    [placeholder]="'Search (' + (filterModes[colDef] || 'contains') + ')'"
                                    style="width: 100%;" (keyup)="applyFilter(colDef, $event)" />
                            </ng-template>
                        </div>
                    </div>
                    <mat-menu #filterMenu="matMenu">
                        <button mat-menu-item (click)="setFilterMode( colDef , 'contains')">Contains</button>
                        <button mat-menu-item (click)="setFilterMode( colDef , 'not_contains')">Does not
                            contain</button>
                        <button mat-menu-item (click)="setFilterMode( colDef , 'equals')">Equals</button>
                        <button mat-menu-item (click)="setFilterMode( colDef , 'not_equals')">Does not
                            equal</button>
                    </mat-menu>

                </ng-container>
            </th>

            <td style="align-items: center;" mat-cell *matCellDef="let row">
                <ng-container *ngIf="colDef === 'select_update'">
                    <div style=" display: flex; align-items: center;justify-content: center; gap: 4px;">
                        <div>
                            <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                                (change)="toggleRowSelectedForUpdate(row, $event.checked)"
                                [checked]="isRowSelectedForUpdate(row)">
                            </mat-checkbox>
                        </div>
                        <div>
                            <button mat-icon-button type="button" (click)="removeRowFromUpdate(row)"
                                aria-label="Xóa khỏi danh sách cập nhật">
                                <mat-icon>delete_outline</mat-icon>
                            </button>
                        </div>
                    </div>

                </ng-container>
                <ng-container *ngIf="colDef !== 'select_update'">
                    {{ row[colDef] }}
                </ng-container>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
<!-- 
<div>
    <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
        [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
        [pageIndex]="pageIndex" aria-label="Select page">
    </mat-paginator>
</div> 
-->