
.function-list {
  display: flex;         
  align-items: center;   
  gap: 16px;             
}

.bordered-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #e40b0b;
}

.bordered-table th,
.bordered-table td {
  border: 1px solid #ccc;
  padding: 8px;

}

th {
    font-weight: bold;
    text-align: left;
}

.listupdate-with-badge {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: rgb(48, 58, 188);
  color: white;
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
  min-width: 20px;
  text-align: center;
  
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}
th, td {
  padding: 8px;
  text-align: left;
  white-space: nowrap;
}

th {
  height: 50px;
  background-color: rgb(49, 110, 241)
}

.mat-header-cell.search-header {
  padding: 0;
  overflow: visible;
}


.header-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.search-container {
  padding: 0px 0px 0px 0px;
}

.search-container mat-form-field {
  width: 100%;
}

.search-container .mat-form-field-wrapper {
  padding-bottom: 0;
}

.search-container .mat-form-field-outline {
  background-color: white;
  border-radius: 4px;
}

.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-hint-spacer {
  display: none !important;
}

.custom-search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-search-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.mat-mdc-table {
  width: 100%;
  max-height: 200px;
  overflow: auto;
}

.mat-column-name {
  height: 50;
}

.search-container mat-form-field input.mat-input-element {
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.search-header {
    padding: 0;
    margin: 0;
}

.column-title{
  color: white;
}

.search-container {
  padding: 0px;

  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center; /* Căn giữa theo chiều ngang */
  width: 100%; /* Chiếm full width của th */
}

.custom-search-wrapper{
  height:  20px;


}

.mat-checkbox-frame {
  border-color: white !important;
}

.mdc-checkbox__background{
 color: white !important;
}

.mdc-checkbox__mixedmark{
  color: white !important;
}

.mat-column-select_update {
  flex: 0 0 100px; 
}

.mat-column-vendor {
  flex: 0 0 120px; /* Ví dụ: 120px */
  word-wrap: break-word;
  white-space: normal;
}

.custom-search-wrapper {
  width: 100%;
}

.custom-search-input {
  width: 98%;
  padding: 12px 1px 1px 4px ;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid #ccc;
  align-items: center;
  margin-left: -2px;
} 

.th{
  background-color:rgb(49, 110, 241)
}

// .full-scroll-table-container {
//   max-height: 870px; 
//   overflow-y: auto;

//   overflow-x: auto; 

// }

.full-scroll-table-container {
  max-height: 750px; 
  max-width: 1860px;
  // overflow-y: auto; 
  overflow-x: auto; 
}
