<div class="function-list" style="display: flex; justify-content: space-between; align-items: center;">
    <div class="left-group" style="display: flex; align-items: center; gap: 15px;">
        <div>
            <h2>Lịch sử cập nhật vật tư</h2>
        </div>
        <div style="margin: 0 10px;">
            <h2>|</h2>
        </div>

    </div>

    <div class="right-group" style="display: flex; align-items: center; gap: 15px; margin-right: 15px;">

        <div (click)="export()">
            <button mat-raised-button><mat-icon> file_download</mat-icon>Xuất Excel</button>
        </div>
    </div>
</div>

<div>
    <table mat-table [dataSource]="dataSource_approval_history" multiTemplateDataRows
        class="mat-elevation-z8 bordered-table">

        <ng-container matColumnDef="detail">
            <th mat-header-cell *matHeaderCellDef style="width: 25px; background-color:rgb(49, 110, 241)">
                <div
                    style=" color: white;display: flex; flex-direction: column; align-items: center;text-align: center;">
                    <span>Chi tiết</span>
                    <div class="custom-checkbox-wrapper">
                    </div>
                </div>
            </th>
            <td style="text-align: center;" mat-cell *matCellDef="let element; let i = index">
                <div class="td-flex-center">
                    <button mat-icon-button (click)="toggleRowExpansion(element)"
                        [attr.aria-label]="'Toggle details for ' + element.requestID">
                        <mat-icon>{{expandedElement === element ? 'keyboard_arrow_down' :
                            'keyboard_arrow_right'}}</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef class="search-header" style=" background-color:rgb(49, 110, 241) ;">
                <div class="header-content">
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <div class="column-title">
                            Trạng thái
                        </div>
                        <div>
                            <mat-icon style="color: white;">filter_list</mat-icon>
                        </div>
                    </div>

                    <div class="search-container">
                        <div class="custom-search-wrapper">

                            <input type="text" class="custom-search-input" placeholder="Search" style="width: 100%;"
                                (keyup)="applyFilter('Status', $event)">
                        </div>
                    </div>
                </div>
            </th>
            <td mat-cell *matCellDef="let element"> {{element['Status']}} </td>
        </ng-container>

        <ng-container matColumnDef="RequestDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style=" background-color:rgb(49, 110, 241) ;">
                <div class="th-container">
                    <div class="header-content">
                        <div style="display: flex; align-items: center; justify-content: space-between;">
                            <div class="column-title">
                                Ngày gửi đề nghị
                            </div>
                            <div>
                                <mat-icon style="color: white;">filter_list</mat-icon>
                            </div>
                        </div>

                        <div class="search-container">
                            <div class="custom-search-wrapper">

                                <input type="text" class="custom-search-input" placeholder="Search"
                                    (keyup)="applyFilter('RequestDate', $event)">
                            </div>
                        </div>
                    </div>
                </div>

            </th>
            <td mat-cell *matCellDef="let element"> {{element['RequestDate']}} </td>
        </ng-container>

        <ng-container matColumnDef="User">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style=" background-color:rgb(49, 110, 241)">
                <div class="th-container">
                    <div class="header-content">
                        <div style="display: flex; align-items: center; justify-content: space-between;">
                            <div class="column-title">
                                Người gửi đề nghị
                            </div>
                            <div>
                                <mat-icon style="color: white;">filter_list</mat-icon>
                            </div>
                        </div>

                        <div class="search-container">
                            <div class="custom-search-wrapper">

                                <input type="text" class="custom-search-input" placeholder="Search"
                                    (keyup)="applyFilter('User', $event)">
                            </div>
                        </div>
                    </div>
                </div>
            </th>
            <td mat-cell *matCellDef="let element"> {{element['User']}} </td>
        </ng-container>

        <ng-container matColumnDef="approver">
            <th mat-header-cell *matHeaderCellDef style=" background-color:rgb(49, 110, 241)">
                <div class="th-container">
                    <div class="header-content">
                        <div style="display: flex; align-items: center; justify-content: space-between;">
                            <div class="column-title">
                                Người duyệt
                            </div>
                            <div>
                                <mat-icon style="color: white;">filter_list</mat-icon>
                            </div>
                        </div>

                        <div class="search-container">
                            <div class="custom-search-wrapper">

                                <input type="text" class="custom-search-input" placeholder="Search"
                                    (keyup)="applyFilter('approver', $event)">
                            </div>
                        </div>
                    </div>
                </div>
            </th>
            <td mat-cell *matCellDef="let element"> {{element['approver']}} </td>
        </ng-container>

        <ng-container matColumnDef="timeaction">
            <th mat-header-cell *matHeaderCellDef style=" background-color:rgb(49, 110, 241)">
                <div class="th-container">
                    <div class="header-content">
                        <div style="display: flex; align-items: center; justify-content: space-between;">
                            <div class="column-title">
                                Thời gian thao tác
                            </div>
                            <div>
                                <mat-icon style="color: white;">filter_list</mat-icon>
                            </div>
                        </div>
                        <div class="column-title">

                        </div>
                        <div class="search-container">
                            <div class="custom-search-wrapper">

                                <input type="text" class="custom-search-input" placeholder="Search"
                                    (keyup)="applyFilter('timeaction', $event)">
                            </div>
                        </div>
                    </div>
                </div>
            </th>
            <td mat-cell *matCellDef="let element"> {{element['timeaction']}} </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
            <th>
                <h3>hi</h3>
            </th>
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                    <div
                        style="display: flex; justify-content: space-between; align-items: center;margin-top: 0px ;padding: 10px; border-bottom: 1px solid rgba(0,0,0,.12);">
                        <h2>Chi tiết lịch sử cập nhật</h2>
                        <button mat-raised-button color="primary" (click)="exportExpandedDetails(element)">
                            <mat-icon>file_download</mat-icon>
                            Xuất Excel
                        </button>
                    </div>

                    <table mat-table [dataSource]="dataSource_approval_history_detail"
                        class="mat-elevation-z8 bordered-table">

                        <ng-container matColumnDef="Material ID">
                            <th mat-header-cell *matHeaderCellDef> Material ID </th>
                            <td mat-cell *matCellDef="let innerElement"> {{innerElement['Material ID']}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let innerElement"> {{innerElement['Status']}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Part Number">
                            <th mat-header-cell *matHeaderCellDef> Part Number </th>
                            <td mat-cell *matCellDef="let innerElement"> {{innerElement['Part Number']}} </td>
                        </ng-container>

                        <ng-container matColumnDef="State">
                            <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
                            <td mat-cell *matCellDef="let innerElement"> {{innerElement['State']}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Location">
                            <th mat-header-cell *matHeaderCellDef> Vị trí </th>
                            <td mat-cell *matCellDef="let innerElement"> {{innerElement['Location']}} </td>
                        </ng-container>

                        <ng-container matColumnDef="RequestType">
                            <th mat-header-cell *matHeaderCellDef> Loại yêu cầu </th>
                            <td mat-cell *matCellDef="let innerElement"> {{innerElement['RequestType']}}
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns_approval_history_detail"></tr>
                        <tr mat-row *matRowDef="let innerRow; columns: displayedColumns_approval_history_detail;"></tr>
                    </table>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element">
        </tr>

        <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr> -->
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

        <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr> -->
        <!-- <tr mat-row 
                *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" 
                class="detail-row">
            </tr> -->

    </table>
</div>