<div style="display: flex; align-items: center; gap: 40px; margin-top: 10px;">
  <h2 style="font-weight: bold; font-size: 20px" mat-dialog-title>Chỉnh sửa thông tin vật tư</h2>
  <div style="align-items: center ">
    <button style="display: flex; align-items: center; justify-content: space-between; " mat-raised-button
      [matMenuTriggerFor]="menucolumnselect" class="custom-approver-button">
      <span class="button-text">Chọn người duyệt</span>
      <mat-icon style="margin-left: 3px ;" class="button-icon">keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menucolumnselect="matMenu">
      <section class="example-section" (click)="$event.stopPropagation()">
        <span class="example-list-section">
          <mat-checkbox color="primary" style="margin: 0; padding-left: 20px; padding-right: 30px;list-style: none;"
            class="example-margin" [checked]="selectApprover().completed" [indeterminate]="partiallyComplete()"
            (change)="update($event.checked)">
            {{selectApprover().name}}
          </mat-checkbox>
        </span>
        <hr>
        <span class="example-list-section">
          <ul style="margin: 0; padding-left: 20px;padding-right: 30px;list-style: none;">
            @for (subtask of selectApprover().sub; track subtask; let i = $index) {
            <li>
              <mat-checkbox color="primary" [checked]="subtask.completed" (change)="update($event.checked, i)">
                {{subtask.name}}
              </mat-checkbox>
            </li>
            }
          </ul>
        </span>
      </section>
    </mat-menu>
  </div>

  <!-- <div style="display: flex; align-items: center; margin-top: 10px;">
    <form [formGroup]="dialogForm" style="width: 200px;">
      <mat-form-field class="example-full-width">
        <mat-label>Chọn kho</mat-label>
        <input type="text" placeholder="Nhập để chọn kho" matInput formControlName="selectedWarehouseControl"
          [matAutocomplete]="autoWarehouse">
        <mat-autocomplete #autoWarehouse="matAutocomplete" [displayWith]="displayWarehouseFn"
          (optionSelected)="globalWarehouseChanged($event.option.value)">
          @for (warehouse of filteredWarehouses | async; track warehouse.value) {
          <mat-option [value]="warehouse">{{warehouse.name}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div> -->
</div>

<mat-dialog-content class="mat-typography">
  <div>
    <table mat-table [dataSource]="itemsDataSource" class="mat-elevation-z8 bordered-table">

      <ng-container matColumnDef="materialIdentifier">
        <th mat-header-cell *matHeaderCellDef class="search-header" style="background-color:rgb(49, 110, 241);">
          <div class="header-content">
            <div style="display: flex; align-items: center; justify-content: space-between;">
              <div class="column-title" style="color: white;">
                Material Identifier
              </div>
              <div>
                <mat-icon [matMenuTriggerFor]="filterMenuIndentify" style="color: white;">filter_list</mat-icon>
              </div>
            </div>
            <mat-menu #filterMenuIndentify="matMenu">
              <button mat-menu-item (click)="setFilterMode( 'materialIdentifier' , 'contains')">Contains</button>
              <button mat-menu-item (click)="setFilterMode( 'materialIdentifier' , 'not_contains')">Does not
                contain</button>
              <button mat-menu-item (click)="setFilterMode( 'materialIdentifier' , 'equals')">Equals</button>
              <button mat-menu-item (click)="setFilterMode( 'materialIdentifier' , 'not_equals')">Does not
                equal</button>
            </mat-menu>
            <div class="search-container">
              <div class="custom-search-wrapper">
                <input type="text" class="custom-search-input"
                  [placeholder]="'Search (' + (filterModes['materialIdentifier'] || 'contains') + ')'"
                  style="width: 100%;" (keyup)="applyFilter('materialIdentifier' ,$event)">
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element['materialIdentifier']}} </td>
      </ng-container>

      <ng-container matColumnDef="partNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:rgb(49, 110, 241);">
          <div class="th-container">
            <div class="header-content">
              <div style="display: flex; align-items: center; justify-content: space-between; color: white;">
                <div class="column-title">
                  Part Number
                </div>
                <div>
                  <mat-icon [matMenuTriggerFor]="filterPartNumber" style="color: white;">filter_list</mat-icon>
                </div>
              </div>
              <mat-menu #filterPartNumber="matMenu">
                <button mat-menu-item (click)="setFilterMode( 'partNumber' , 'contains')">Contains</button>
                <button mat-menu-item (click)="setFilterMode( 'partNumber' , 'not_contains')">Does not
                  contain</button>
                <button mat-menu-item (click)="setFilterMode( 'partNumber' , 'equals')">Equals</button>
                <button mat-menu-item (click)="setFilterMode( 'partNumber' , 'not_equals')">Does not
                  equal</button>
              </mat-menu>
              <div class="search-container">
                <div class="custom-search-wrapper">
                  <input type="text" class="custom-search-input"
                    [placeholder]="'Search (' + (filterModes['partNumber'] || 'contains') + ')'"
                    style="width: 100%;" (keyup)="applyFilter('partNumber' ,$event)">
                </div>
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element['partNumber']}} </td>
      </ng-container>

      <ng-container matColumnDef="calculatedStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:rgb(49, 110, 241);">
          <div class="th-container">
            <div class="header-content">
              <div style="display: flex; align-items: center; justify-content: space-between; color: white;">
                <div class="column-title">
                  Calculated Status
                </div>
                <div>
                  <mat-icon [matMenuTriggerFor]="filterMenuCalculatedStatus"
                    style="color: white;">filter_list</mat-icon>
                </div>
              </div>
              <mat-menu #filterMenuCalculatedStatus="matMenu">
                <button mat-menu-item (click)="setFilterMode( 'calculatedStatus' , 'contains')">Contains</button>
                <button mat-menu-item (click)="setFilterMode( 'calculatedStatus' , 'not_contains')">Does not
                  contain</button>
                <button mat-menu-item (click)="setFilterMode( 'calculatedStatus' , 'equals')">Equals</button>
                <button mat-menu-item (click)="setFilterMode( 'calculatedStatus' , 'not_equals')">Does not
                  equal</button>
              </mat-menu>
              <div class="search-container">
                <div class="custom-search-wrapper">
                  <input type="text" class="custom-search-input" [placeholder]="'Search (' + (filterModes['calculatedStatus'] || 'contains') + ')'" style="width: 100%;"
                  (keyup)="applyFilter('calculatedStatus' ,$event)">
                </div>
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element['calculatedStatus']}} </td>
      </ng-container>

      <ng-container matColumnDef="expirationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:rgb(49, 110, 241);">
          <div class="th-container">
            <div class="header-content">
              <div style="display: flex; align-items: center; justify-content: space-between; color: white;">
                <div class="column-title">
                  Gia hạn
                </div>
              </div>
              <div class="search-container">
                <div class="custom-search-wrapper text-center">
                  <mat-checkbox [(ngModel)]="headerEnableInputRenewal" (change)="toggleAllRenewal()"
                    color="primary"></mat-checkbox>
                  <!-- <input matInput type="date" placeholder="Ngày gia hạn chung" [(ngModel)]="headerInputRenewal"
                    [disabled]="!headerEnableInputRenewal" (change)="applyHeaderInputRenewal()"> -->
                </div>
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <mat-checkbox [(ngModel)]="element.enable_input_expirated" color="primary"></mat-checkbox>
          <!-- <input matInput type="date" [(ngModel)]="element.expirationDate" [disabled]="!element.enable_input_expirated"
            placeholder="Chọn ngày" /> -->
        </td>
      </ng-container>


      <!-- Phần header -->
      <ng-container matColumnDef="locationId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:rgb(49, 110, 241)">
          <div class="th-container">
            <div class="header-content" style="color: white;">
              <div style="display: flex; align-items: center; justify-content: space-between;">
                <div class="column-title">Location Name</div>
              </div>
              <div class="search-container">
                <div class="custom-search-wrapper" style="width: 100%;">
                  <form style="width: 100%;">
                    <!-- Header dùng binding riêng -->
                    <input class="editable-cell" [(ngModel)]="applyHeaderSelectNewlocation"
                      (ngModelChange)="filterlocations($event)" type="text" placeholder="Nhập để chọn kho"
                      aria-label="Kho" matInput formControlName="selectedWarehouseControl"
                      [matAutocomplete]="autoWarehouse">
                    <mat-autocomplete #autoWarehouse="matAutocomplete" [displayWith]="displayWarehouseFn"
                      (optionSelected)="globalWarehouseChanged($event.option.value)">
                      <!-- Sử dụng danh sách từ filteredlocations -->
                      @for (warehouse of filteredWarehouses | async; track warehouse.value) {
                      <mat-option [value]="warehouse">{{ warehouse.name }}</mat-option>
                      }
                    </mat-autocomplete>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </th>

        <!-- Phần cell mỗi dòng -->
        <td mat-cell *matCellDef="let element">
          <div style="display: flex; align-items: center;">
            <form [formGroup]="getFormGroupForItem(element)" style="width: 100%;">
              <!-- Ở dòng, sử dụng formControl riêng: selectedWarehouseItem -->
              <input class="editable-cell" type="text" placeholder="Nhập để chọn kho" aria-label="Kho" matInput
                formControlName="selectedWarehouseItem" [matAutocomplete]="autoWarehouseRow">
              <mat-autocomplete #autoWarehouseRow="matAutocomplete" [displayWith]="displayWarehouseFn"
                (optionSelected)="rowWarehouseChanged($event.option.value, element)">
                @for (warehouse of warehouseSelection; track warehouse.value) {
                <mat-option [value]="warehouse">{{ warehouse.name }}</mat-option>
                }
              </mat-autocomplete>
            </form>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef style="background-color:rgb(49, 110, 241)">
          <div class="th-container">
            <div class="header-content" style="color: white;">
              <div style="display: flex; align-items: center; justify-content: space-between;">
                <div class="column-title">
                  Quantity
                </div>
                <div>
                  <mat-icon [matMenuTriggerFor]="filterMenuQuantity" style="color: white;">filter_list</mat-icon>
                </div>
              </div>
              <mat-menu #filterMenuQuantity="matMenu">
                <button mat-menu-item (click)="setFilterMode( 'quantity' , 'contains')">Contains</button>
                <button mat-menu-item (click)="setFilterMode( 'quantity' , 'not_contains')">Does not
                  contain</button>
                <button mat-menu-item (click)="setFilterMode( 'quantity' , 'equals')">Equals</button>
                <button mat-menu-item (click)="setFilterMode( 'quantity' , 'not_equals')">Does not
                  equal</button>
              </mat-menu>
              <div class="search-container">
                <div class="custom-search-wrapper">
                  <input type="text" class="custom-search-input" [placeholder]="'Search (' + (filterModes['quantity'] || 'contains') + ')'" style="width: 100%;"
                  (keyup)="applyFilter('quantity' ,$event)">
                </div>
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          <input matInput class="editable-cell" type="number" [(ngModel)]="element.quantity"
            (ngModelChange)="element._isChanged = true; onCellBlur(element, 'quantity')"
            (blur)="onCellBlur(element, 'quantity')">
        </td>
      </ng-container>


      <!-- <ng-container matColumnDef="Gia hạn">
        <th mat-header-cell *matHeaderCellDef style="background-color:rgb(49, 110, 241)">
          <div class="th-container">
            <div class="header-content"
              style="color: white; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%; padding-top: 5px; padding-bottom: 5px;">
              <div class="column-title" style="margin-bottom: 5px; text-align: center;">
                Gia hạn
              </div>
              <mat-checkbox color="primary" (change)="toggleAllExtendExpiration($event.checked)"
                [checked]="isAllExtendExpirationSelected()" [indeterminate]="isSomeExtendExpirationSelected()"
                aria-label="Chọn/Bỏ chọn tất cả gia hạn">
              </mat-checkbox>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">
          <mat-checkbox color="primary" [(ngModel)]="element.extendExpiration"
            (ngModelChange)="element._isChanged = true" aria-label="Gia hạn vật tư này">
          </mat-checkbox>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <span class="dialog-notice">Nếu chọn gia hạn, hệ thống sẽ tự động gia hạn thêm 15 ngày.</span>
  <button mat-button (click)="onCancel()">Hủy</button>
  <button mat-stroked-button class="dialog-accept-btn" (click)="onSave()">Gửi đề nghị</button>
</mat-dialog-actions>